[Unit]
Description=Startet die TV-Jarvis Verlassen-Routine

[Timer]
OnCalendar=Mon..Fri __LEAVE_WEEKDAY__
OnCalendar=Sat,Sun __LEAVE_WEEKEND__
Persistent=false
AccuracySec=30s

[Install]
WantedBy=timers.target
